
<div ng-controller="homeCtrl as home">
      <nav class="navbar navbar-default navbar-fixed-top">
	    <div class="conatiner-fluid">
            <div class="navbar-header">
      	        <a class="navbar-brand" href="#">Todo App</a>
            </div>
             <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <div class="dropdown-toggle" data-toggle="dropdown" style="margin-top:10px; color:black">
                        &nbsp; &nbsp;<img src="{{home.user.photoURL}}" class="img-circle image">&nbsp; &nbsp; Hi, {{home.dName}}<!--<span class="caret"></span>-->&nbsp; &nbsp; &nbsp;<button class="btn btn-default" ng-click="home.signOut()">Sign out</button>&nbsp; &nbsp; &nbsp; &nbsp;
                    </div> 
                    <ul class="dropdown-menu">
                        <li><a href="#">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
      	    <form class="navbar-form navbar-right">
  		        <div class="input-group">
    		        <input type="text" class="form-control" ng-model="home.search" style="margin-top:5px; margin-right: 19px" placeholder="Search">
  		        </div>
            </form>
           
  	    </div>
    </nav>    
    <br><br><br>
    <div class="brownhill ">Todo Lists</div>
        <br>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-4">
            <input type="text" ng-model="home.list" class="form-control">
        </div>
        <div class="col-xs-4">
            <button ng-click="home.list && home.add()" class="btn btn-success btn-block glyphicon glyphicon-plus task-btn">Add List</button>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class=" col-xs-offset-2 col-xs-12">
            <ul class="list-group" style="list-style-type:none;">
                <li class="disney1" ng-repeat="list in home.lists | filter : home.search" >
                    <div class="row">
                        <div class="col-xs-3">
                            <a href="#!/list/{{list.name}}" style="color:black;">{{list.name}} List</a>
                        </div>
                        <div class="col-xs-1">
                             <button class="btn btn-danger btn-block glyphicon glyphicon-remove" ng-click="home.delete($index)"></button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
