
<div ng-controller="firstCtrl as todo">
    <div style="text-align: left; color: black; font-weight:bold">
        <span style="color: red; font-size:18px;">Logged in as: </span><img src="{{todo.user.photoURL}}" alt="image not available" class="img-circle image"> {{todo.user.displayName}}
    </div>
    <div class="brownhill ">{{todo.name}} List</div>
        <br>
             <div class="row">
                 <div class="col-xs-offset-2 col-xs-4">
                     <input type="text" class="form-control " ng-model="todo.task" >
                 </div>
                 <div class="col-xs-4">
                     <button ng-if="!todo.editMode" class="btn btn-success btn-block glyphicon glyphicon-plus task-btn" ng-click="todo.task && todo.addTask()">     Add Task</button>
                     <button ng-if="todo.editMode" class="btn btn-info btn-block glyphicon glyphicon-pencil task-btn" ng-click="todo.task && todo.updateTask()">     Update Task</button>
                 </div>


             </div>
             <div class="row">
                 <div class="col-xs-12">
                     <div class="btn btn-primary btn-block task">{{todo.completedTasks}}/{{todo.totalTasks}} Tasks Completed</div>
                     <ul class="list-group">
                         
                         <li class="list-group-item list-group-item-{{task.status?'success':'danger'}}" ng-repeat="task in todo.tasks">
                             <div class="row">

                                <div class="col-xs-8 disney2" ng-if="task.status==0" >
                                     {{task.name}}
                                </div>
                                <div class="col-xs-8 disney2" ng-if="task.status==1" >
                                    <s>{{task.name}}</s>
                                </div>

                                <div class="col-xs-4 row">
                                    <div class="col-xs-offset-2 col-xs-2">
                                        <button ng-if="task.status==0" class="btn btn-info btn-block glyphicon glyphicon-unchecked" ng-click="todo.setStatus(task.id)"></button>
                                        <div ng-if="task.status==1" class="btn btn-success glyphicon glyphicon-check"></div>
                                    </div>
                                    <div class="col-xs-2">
                                        <button class="btn btn-info btn-block glyphicon glyphicon-chevron-up" ng-click="todo.moveUp(task.id)"></button>
                                    </div>
                                    <div class="col-xs-2">
                                        <button class="btn btn-info btn-block glyphicon glyphicon-chevron-down" ng-click="todo.moveDown(task.id)"></button>
                                    </div>
                                    <div class="col-xs-2"> 
                                        <button class="btn btn-warning btn-block glyphicon glyphicon-edit" ng-click="todo.editTask(task.id)"></button>
                                    </div>
                                    <div class="col-xs-2">
                                        <button class="btn btn-danger btn-block glyphicon glyphicon-remove" ng-click="todo.deleteTask(task.id)"></button>
                                    </div>

                                </div>

                             </div>
                         </li>
                         <!--<li class="list-group-item">Task2</li>-->
                     </ul>
                     
                 </div>

             </div>

        </div>